<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link href="/public/assets/{{.Style}}" rel="stylesheet" />
</head>
<body>
    <script src="/public/assets/{{.Script}}" type="text/javascript"></script>
    <div x-data="app" x-init="init()" class="max-w-md mx-auto bg-white p-6 rounded-lg">
        <h1 class="text-2xl font-bold mb-4 text-red-400">Hello world</h1>
    </div>
</body>
</html>
